:root {
  --azul-dnc: #0c70f2;
  --preto-dnc: #303030;
  --cinza-hover: #c9c9c9;

  --fonte-padrao: "Inter";
}

body {
  margin: 0px;
  padding: 0px;

  background: linear-gradient(
      180deg,
      rgba(12, 112, 242, 0.5) 19.91%,
      rgba(12, 112, 242, 0) 24.84%
    ),
    var(--preto-dnc);
  background-repeat: no-repeat;
}

#menu li {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
  font-family: var(--fonte-padrao);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  color: #ffffff;
}

#menu a:hover {
  color: #cccccc;
}

#list {
  margin-left: 3%;
}

#menu {
  background-color: var(--preto-dnc);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#button {
  margin-right: 3%;
}

#menu button {
  background: var(--azul-dnc);
  box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
  padding: 10px 10px 10px 10px;
  font-family: var(--fonte-padrao);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  border: 0;
  margin-right: 30px;
  color: #ffffff;
}

#menu a {
  color: #ffffff;
  text-decoration: none;
}

.textCenter {
  text-align: center;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color: white;
  font-family: var(--fonte-padrao);
}

header h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
}

header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 97px;
  color: #ffffff;
}

header b.teste {
  background: #1f1f1f;
}

form {
  width: 500px;
  color: white;
  font-family: var(--fonte-padrao);
}

.form {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  margin-bottom: 15px;
}

form label {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
  margin: 5px 0px 5px 0px;
}

form input {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 12px 5px 12px 10px;
  font-size: 15px;
  border: 0;
}

form input::placeholder {
  color: rgba(57, 57, 57, 0.5);
}

form button {
  background: rgba(12, 112, 242, 0.9);
  box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
  border-radius: 10px;
  border: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: 42px;
  margin-top: 10%;
  cursor: pointer;
}

form button:hover {

  background-color: rgba(15, 89, 187, 0.9);

}

.checkbox-items label {
  font-size: 17px;
  margin-left: 8px;
}

.checkbox-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--azul-dnc);
}

footer .line1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fonte-padrao);
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  height: 300px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer ul li a:hover {
  color: var(--cinza-hover);
}

footer h5 {
  margin-bottom: 0;
  background: #303030;
  border-radius: 10px;
  font-weight: 800;
  padding: 5px 10px 5px 10px;
}

footer ul li {
  font-weight: 400;
  margin: 20px 0px 20px 0px;
}

footer .address {
  font-family: var(--fonte-padrao);
  font-size: 18px;
  color: white;
  font-weight: bold;
  width: 20%;
  text-align: center;
}

footer .line2 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  height: 35px;
}

footer .line2 a {
  font-family: var(--fonte-padrao);
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
}

footer .line2 a:first-child {
  display: flex;
  align-items: center;
  border-right: 2px solid white;
  box-sizing: border-box;
  height: 20px;
  text-align: center;
}

footer .line2 a:hover {
  color: var(--cinza-hover);
}
